:root {
  --color-blue: #0c2340;
  --color-red: #bd3039;
  --color-grey-light: #ccc;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

header {
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--color-red);
}

header .position {
  color: var(--color-blue);
}

main {
  position: relative;
}

.item,
.carousel,
.flickity-viewport {
  height: 100% !important;
}

.carousel-cell {
  width: 100%;
  /* full width */
  height: 100%;
  /* height of carousel */
  font-size: 2rem;
  padding: 1.5rem;
  color: #fff;
}
.carousel-cell.ques {
  background-color: var(--color-blue);
}
.carousel-cell.ques::before {
  content: 'Question';
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  color: rgba(255,255,255,.4);
  margin-bottom: 1rem;
}
.carousel-cell.answ {
  background-color: var(--color-red);
}
.carousel-cell.answ::before {
  content: 'Answer';
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  color: rgba(255,255,255,.4);
  margin-bottom: 1rem;
}

.suggest {
  position: absolute;
  z-index: 1;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  animation: suggestContent 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes suggestContent {
  0% { opacity: 0; }
  50% { opacity: .4; }
  100% { opacity: 0; }
}

nav {
  background-color: #fff;
  padding: .5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  border: 0;
  padding: 1rem 0;
  background-color: transparent;
  text-align: center;
  color: var(--color-red);
  font-size: 1.5rem;
}

nav button:active {
  color: var(--color-red);
  background-color: transparent;
}

nav button[disabled] {
  color: var(--color-grey-light);
}

.cover {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--color-red);
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  padding: 2.5rem;
  transition: transform .4s;
}

.cover.reveal {
  transform: translateY(-100%);
}

.cover p {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
}

.cover button {
  border: 0;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  text-align: center;
  color: var(--color-blue);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 2rem;
}

.hide {
  display: none;
}