* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Inter', sans-serif;
}

.item,
.carousel,
.flickity-viewport {
  height: 100% !important;
}

.carousel-cell {
  width: 100%;
  /* full width */
  height: 100%;
  /* height of carousel */
  font-size: 1.5rem;
  padding: 1.5rem;
}
.carousel-cell.ques {
  background-color: red;
}
.carousel-cell.answ {
  background-color: green;
}

header, nav {
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.hide {
  display: none;
}

.nolandscape {
  display: none;
}

@media screen and (max-width: 40em) and (orientation: landscape) {
  .nolandscape {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: yellow;
  }
  .nolandscape p {
    margin: auto;
  }
}
