* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.item,
.carousel,
.flickity-viewport {
  height: 100% !important;
}

.carousel-cell {
  width: 100%;
  /* full width */
  height: 100%;
  /* height of carousel */
  font-size: 2.5rem;
  padding: 2.5rem;
}
.carousel-cell.ques {
  background-color: red;
}
.carousel-cell.answ {
  background-color: green;
}

header, nav {
  background-color: #fff;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.hide {
  display: none;
}